<nav class="navbar-section">
  <div class="nav_container">
    <div class="navbar">
      <div class="logo">
        <a href="">EduHub</a>
      </div>
      <div class="menu">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/courses">Courses</a></li>
          <li><a href="/contact">Contact Us</a></li>
          <% if (!currentUser) {%>
          <li><a href="/signup">Sign Up</a></li>
          <li><a href="/login">Login</a></li>
          <% } %> <% if (currentUser) {%>
          <li><a href="/courses/new">Add New Coures</a></li>        
          <li><a href="/logout">Logout</a></li>
          <% } %>
        </ul>
      </div>
      <div class="mobile-menu">
        <i id="menu" class="fa-solid fa-bars"></i>
      </div>
    </div>
  </div>
</nav>
