<% layout("/layouts/boilerplate") %>
<div class="responsive-container-block bigContainer">
  <div class="responsive-container-block Container bottomContainer">
    <div class="allText bottomText">
      <p class="text-blk headingText">About Us</p>
      <p class="text-blk subHeadingText">We build to your bespoke</p>
      <p class="text-blk description">
        We specialize in developing a user-friendly platform that serves as a
        centralized hub for students seeking information on universities,
        courses, admission processes, faculty details, alumni experiences,
        career paths, and employer partnerships. Our solution aims to streamline
        the higher education exploration process by bridging the information gap
        and simplifying the application process.
      </p>
      <a>
        <a href="faculty.html"
          ><button class="explore">Our Faculties</button></a
        >
      </a>
    </div>
    <div class="videoContainer">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/av9WBv5091c?si=bLIDl7JryLzAlZgP"
        title="YouTube video player"
        frameborder="0"
        class="mainVideo"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
      <img
        class="dotsImg image-block"
        src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/cw3.svg"
      />
    </div>
  </div>
</div>

