<% layout("/layouts/boilerplate") %>
<div class="responsive-container-block bigContainer">
  <div class="responsive-container-block Container bottomContainer">
    <div class="allText bottomText">
      <p class="text-blk headingText">About Us</p>
      <p class="text-blk subHeadingText">We build to your bespoke</p>
      <p class="text-blk description">
        We specialize in developing a user-friendly platform that serves as a
        centralized hub for students seeking information on universities,
        courses, admission processes, faculty details, alumni experiences,
        career paths, and employer partnerships. Our solution aims to streamline
        the higher education exploration process by bridging the information gap
        and simplifying the application process.
      </p>
    </div>
    <div class="videoContainer">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/av9WBv5091c?si=bLIDl7JryLzAlZgP"
        title="YouTube video player"
        frameborder="0"
        class="mainVideo"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
      <img
        class="dotsImg image-block"
        src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/cw3.svg"
      />
    </div>

    <!--Faculty cards-->
    <div class="course_heading"><label>Our Faculty</label></div>
    <label></label>
    <div class="row container-fluid mt-5">
      <div class="col-md-4">
        <div class="card" style="width: 20rem">
          <img
            src="https://t4.ftcdn.net/jpg/05/21/94/85/360_F_521948517_mS2CABoRkmHIgrUwlxLQ1WNiCWn9SCz2.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Ramakrishnan</h5>
            <p class="card-text">
              Experienced, knowledgeable faculty inspire students with their
              intelligence, guiding academic growth and fostering critical
              thinking.
            </p>
            <a
              href="#"
              class="btn"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              >Web Development</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 20rem">
          <img
            src="https://media.istockphoto.com/id/1005817658/photo/middle-aged-man-with-pleasant-face-expression.webp?b=1&s=170667a&w=0&k=20&c=9h4hFvR1WablP2R_P_jJ1tiescwQdMDWq25I75G_ocI="
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Akshay Patil</h5>
            <p class="card-text">
              Experienced, knowledgeable faculty inspire students with their
              intelligence, guiding academic growth and fostering critical
              thinking.
            </p>
            <a
              href="#"
              class="btn"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              >Data science</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 20rem">
          <img
            src="https://images.unsplash.com/photo-1630332458166-1c3bdde17665?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fHByb2Zlc3NvcnxlbnwwfHwwfHx8MA%3D%3D"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Surya Joshi</h5>
            <p class="card-text">
              Experienced, knowledgeable faculty inspire students with their
              intelligence, guiding academic growth and fostering critical
              thinking.
            </p>
            <a
              href="#"
              class="btn"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              >AIML</a
            >
          </div>
        </div>
      </div>
    </div>

    <div class="row container-fluid mt-5">
      <div class="col-md-4">
        <div class="card" style="width: 20rem">
          <img
            src="https://media.istockphoto.com/id/678420912/photo/portrait-of-an-indian-lady-teacher.webp?b=1&s=170667a&w=0&k=20&c=1j62xB9v0bCHMeqKqg8Y8sEJ4FWbR9GwJezpyiuk4Ew="
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Ashmita manna</h5>
            <p class="card-text">
              Experienced, knowledgeable faculty inspire students with their
              intelligence, guiding academic growth and fostering critical
              thinking.
            </p>
            <a
              href="#"
              class="btn"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              >Web Development</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 20rem">
          <img
            src="https://media.istockphoto.com/id/1330255708/photo/portrait-of-smiling-teacher-in-school-corridor-with-books-in-hand.webp?b=1&s=170667a&w=0&k=20&c=Zk_djawJL9o6NvUwg7d0CCt-kPnRLRO1Q3OEGLjJ1xM="
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Rashmi kumari</h5>
            <p class="card-text">
              Experienced, knowledgeable faculty inspire students with their
              intelligence, guiding academic growth and fostering critical
              thinking.
            </p>
            <a
              href="#"
              class="btn"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              >Data science</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 20rem">
          <img
            src="https://media.istockphoto.com/id/1331422830/photo/confident-smiling-indian-school-teacher-with-students-in-background.webp?b=1&s=170667a&w=0&k=20&c=hX3DqBmJfZU_M2QGQquVyJoBT1vk0ScCxKXTkPXS5P8="
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Rima Agrawal</h5>
            <p class="card-text">
              Experienced, knowledgeable faculty inspire students with their
              intelligence, guiding academic growth and fostering critical
              thinking.
            </p>
            <a
              href="#"
              class="btn btn-dark"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              >AIML</a
            >
          </div>
        </div>
      </div>
    </div>

    <div class="row container-fluid mt-5">
      <div class="col-md-4">
        <div class="card" style="width: 20rem">
          <img
            src="https://media.istockphoto.com/id/1812572554/photo/stressed-teacher-feeling-overwhelmed-in-a-classroom.webp?b=1&s=170667a&w=0&k=20&c=STuw1450j-oEcp3tfwTMO0WgEq8o_8O9EJY4bTdtO74="
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Tina Gupta</h5>
            <p class="card-text">
              Experienced, knowledgeable faculty inspire students with their
              intelligence, guiding academic growth and fostering critical
              thinking.
            </p>
            <a
              href="#"
              class="btn"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              >Web Development</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 20rem">
          <img
            src="https://media.istockphoto.com/id/1383109291/photo/professor-provides-instruction.webp?b=1&s=170667a&w=0&k=20&c=mq8UoLev-PtsBqub30V5nV-0s7gC9YqUHDHkES4gnhE="
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Reena Singh</h5>
            <p class="card-text">
              Experienced, knowledgeable faculty inspire students with their
              intelligence, guiding academic growth and fostering critical
              thinking.
            </p>
            <a
              href="#"
              class="btn"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              >Data science</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 20rem">
          <img
            src="https://media.istockphoto.com/id/1448069367/photo/portrait-of-happy-indian-mature-professor-of-university-or-college-or-standing-outdoor.webp?b=1&s=170667a&w=0&k=20&c=pLSh-cC4gvG2LMMgydQmpJfRJiSw8QQvjm2IhSqVA40="
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Vijay Singh</h5>
            <p class="card-text">
              Experienced, knowledgeable faculty inspire students with their
              intelligence, guiding academic growth and fostering critical
              thinking.
            </p>
            <a
              href="#"
              class="btn"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              >AIML</a
            >
          </div>
        </div>
      </div>
    </div>
    <!-- End of faculty card-->
  </div>
</div>
